body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Images/Background.jpg);
    background-color: rgb(0, 0, 0);
}

.background_tint {
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: multiply;
}
