body{
    background-color: rgb(154, 252, 214);
    margin: 0px;
    padding: 0px;
}

title{
    color: beige;
}

h1{
    color: rgb(48, 48, 107);
    font-family: verdana;
    font-size: 200%;
}

p{
    color: black;
}

img {
    width: 10cm;
    height: 10cm;
}

a {
    background-color: black;
    color: azure;
    font-size: 200%;
}

.logo {
    width: 1.6cm;
    height: 1.6cm;

}


.container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: aqua;
    padding: 10px; 
}

.container div {
    padding: 10px;
    font-size: 30px;

}

.menu {
    display: flex;
    flex-direction: row;
    background-color: #351c55;
    border: 0px;
    margin: 0px;
    padding: 0px;
    
}

.menu div a {
    display: block;
    background-color: #351c55;
    padding: 14px 16px;
    text-decoration: none;
}

.menu div a:hover {
    background-color: rgb(54, 125, 192);
    color: #351c55;
}

@keyframes MyAnimation {
    from {background-color: aqua;}
    to {background-color: beige;}
}