body{
    background-color: rgb(168, 194, 252);
    margin: 0px;
    padding: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
url(Images/Background.jpg);
    
}

.background_tint {
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: multiply;
}

h1{
    color: rgb(255, 255, 255);
    font-family: verdana;
    font-size: 300%;
    text-align: center;
}

p{
    color: rgb(255, 255, 255);
    font-family: verdana;
    font-size: 150%;

}

a {
    background-color: black;
    color: azure;
    font-size: 200%;
}

.logo {
    width: 1.6cm;
    height: 1.6cm;

}


.container {
    display: grid;
    grid-template-columns: 1fr;
    
    padding: 100px 10px; 
    margin: 20px;
    border-radius: 50px;
}

.container div {
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

.container div a {
    background-color: rgb(186, 243, 240);
    border: 5px solid rgb(24, 20, 59) ;
    border-radius: 25px;
    padding: 10px;
    text-decoration: none;
    color: black;
    

}
.container div a:hover {
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.3);
}


nav{
    display: flex;
    flex-direction: row;
    background-color: #00122cb2;
    border: 0px;
    margin: 0px;
    padding: 0px;
    
}

nav div a {
    display: block;
    background-color: #351c5500;
    padding: 14px 16px;
    text-decoration: none;
}

nav div a:hover {
    background-color: rgb(0, 52, 100);
    color: #ffffff;
}

.container div a img {
    width: 1cm;
    height: 1cm;
}

@keyframes MyAnimation {
    from {background-color: aqua;}
    to {background-color: beige;}
}