@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Jersey+10&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0px;
    padding: 0px; 
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-style: normal;  
}

h1{
    color: rgb(255, 255, 255);
    font-size: 300%;
    font-weight: 100;
    text-align: center;
}

p{
    color: rgb(255, 255, 255);
    font-size: 150%;
}

a {
    background-color: black;
    color: azure;
    font-size: 200%;
}

.logo {
    width: 1.6cm;
    height: 1.6cm;

}


.container { 
    padding: 100px 10px; 
    margin: 20px;
    border-radius: 50px;
}

.container div {
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

.container div a {
    background-color: rgb(186, 243, 240);
    border: 5px solid rgb(24, 20, 59) ;
    border-radius: 25px;
    padding: 10px;
    text-decoration: none;
    color: black;
    

}
.container div a:hover {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}


nav{
    display: flex;
    flex-direction: row;
    background-color: #00122cb2;
    border: 0px;
    margin: 0px;
    padding: 0px;
    
}

nav div a {
    display: block;
    background-color: #351c5500;
    padding: 14px 16px;
    text-decoration: none;
}

nav div a:hover {
    background-color: rgb(0, 52, 100);
    color: #ffffff;
}

.icon {
    height: 1cm;
}

.current {
    background-color: #0024558e;
}
