body {
    background-color: rgb(255, 255, 255);
}

.block {
    padding: 5px;
    background-color: white;
    
}

.title_image {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 1)), url(Images/Background.jpg);
}

h1 {
    margin: 50px;
    padding: 50px 0px 300px 0px;
    font-size: 800%;
}

.block h2 {
    color: #000000;
    font-size: 200%;
}

.block p {
    color: #000000;
    font-size: 100%;
    width: 90%;
    text-indent: 40px;
}


.columns {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    

}

.diagram{
    margin: 0px 5% 0px 2%;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    width:85%;
    border: 10px solid #000000;
    border-radius: 10px;
    
}


.columns div {
    border: 4px solid rgba(0, 0, 0, 0);
    position: relative;
}

.icon {
    height: 30px;
}

.button {
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(24, 20, 59) ;
    border-radius: 25px;
    padding: 10px;
    text-decoration: none;
    color: black;
    margin-right: 30px;
    font-size: 150%;
}


.button:hover {
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button img {
    vertical-align: -25%;
    margin-right: 5px;

}

.bottom_space {
    padding-top: 100px;
}
