body {
    background-color: rgb(255, 255, 255);
}

.block {
    padding: 5px;
    background-color: white;
    
}

.title_image {
    background: linear-gradient(rgba(0,0,0,0), rgba(0, 0, 0, 1)), url(Images/Background.jpg);
}

h1 {
    margin: 50px;
    padding: 50px 0px 300px 0px;
    font-size: 800%;
}

.block h2 {
    color: #000000;
    font-size: 200%;
}

.block p {
    color: #000000;
    font-size: 100%;
    width: 90%;
    text-indent: 40px;
}


.columns {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    

}

.diagram{
    margin: 0px 10px 0px 20px;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    height:300px;
    border: 10px solid #000000;
    border-radius: 10px;
    
}


.columns div {
    border: 4px solid rgb(255, 255, 255);
    position: relative;
}

.icon {
    height: 1cm;
}
